/* start nav */
nav {
  background-color: var(--seconder-color);
  padding: 30px 0px;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo span {
  color: var(--main-color);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-inline-start: 30px;
}

nav a {
  position: relative;
}

nav a::after {
  content: '';
  width: 0px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -7px; 
}

.nav-menu li:hover a::after {
  width: 60px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition: 0.3s;
}

nav .nav-menu-mobile-btn {
  display: none;
}
/* end nav  */

/* start header */
header {
  background-image: url(../imgs/imgheader.jpg);
  padding: 150px 0;

  position: relative;
  z-index: 2;
  background-position: center;
  background-attachment: fixed;
  background-repeat: none;
}

header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--seconder-color);
  opacity: 50%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
}

.header-content {
  z-index: 4;
  width: 50%;
  color: #fff;
}


.header-content-header img {
  margin-bottom: 30px;
}

.header-content-footer {
  margin-bottom: 30px;
}

.line {
  background-color: #fff;
  width: 50px;
  height: 2px;
  margin: 20px 0;
}

.header-content-footer button {
  padding: 10px 15px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  margin-top: 50px;
}

.header-content-footer button:hover {
  background-image: url(../imgs/imgheader.jpg);
}

.header-content-footer button:focus {
  background-image: url(../imgs/imgheader.jpg);
}


.header-form-container {
  padding: 0 5%;
}

.header-form {
  background-color: #fff;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.header-form-header {
  width: 100%;
  text-align: center;
  font-size: 15px;
  padding: 20px 0;
  background-color: #8a8a8a;
}

.header-form-header h2 span {
  color: var(--main-color);
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  color: #8a8a8a;
}

.header-form-body {
  width: 100%;
  margin: 25px 0;
}

.header-form button {
  padding: 10px 0;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
}

.header-form button:hover {
  background-color: #8a8a8a;
  color: var(--seconder-color);
}

.input-group input {
  width: 100%;
}

.header-form-container input {
  border: none;
  border-bottom: 2px solid #8a8a8a;
  border-color: #8a8a8a;
}
/* end header */

/* start section socialMedia */
#socialMedia {
  border-bottom: 1px solid #8a8a8a;
  padding: 20px 0;
}

#socialMedia .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-content {
  width: 35%;
}

.section-content p {
  color: #8a8a8a;
}

.social-links-list {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#socialMedia .section-content h2 {
  margin-bottom: 10px;
}

.social-links-list a {
  font-size: 50px;
  color: #8a8a8a;
}

.social-links-list a:hover i {
  color: var(--main-color);
}
/* end section socialMedia */

/* start section sectionTabs */
#sectionTabs {
  background-color: #f5f5f5;
  padding: 100px 0;
}

#sectionTabs .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-btns {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-content-content {
  font-size: 18px;
  width: 55%;
}

.tabs-content-meadia {
  width: 35%;
}

.tabs-content-meadia img {
  width: 100%;
  margin: auto;
}

.tabs-content-content p {
  color: #8a8a8a;
  margin: 40px 0;
}

.tabs-content-content button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 12px 22px;
  font-size: 15px;
  box-shadow: 0px 5px 10px 4px #8a8a8a !important;
}

.tabs-content-content button:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 5px 10px 4px var(--seconder-color) !important;
}

.tabs-content-content button:focus {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 5px 10px 4px var(--seconder-color) !important;
}

.tabs-btns button {
  padding: 45px 35px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #333333;
  box-shadow: 0px 10px 20px 8px #8a8a8a !important;
}

.tabs-btns button:hover {
  background-color: var(--main-color);
  box-shadow: 0px 10px 20px 8px var(--seconder-color) !important;
  color: var(--seconder-color);
  border-color: var(--seconder-color);
}

.tabs-btns button:focus {
  background-color: var(--main-color);
  box-shadow: 0px 10px 20px 8px var(--seconder-color) !important;
  color: var(--seconder-color);
  border-color: var(--seconder-color);
}
/* end section sectionTabs */

/* start section subList */
#subList {
  padding: 100px 0;
}

#subList .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sub-list-media img {
  width: 100%;
  margin: auto;
}

.sub-list-media {
  width: 45%;
}

.sub-list-content {
  width: 45%;
}

.sub-list-content p {
  color: #8a8a8a;
  margin: 20px 0;
}

#subList .section-title {
  position: relative;
  margin-bottom: 30px;
  font-size: 15px;
}


#subList .section-title h2::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -50%;
  transform: translateX(0);
}

#subList .section-title:hover h2::after {
  width: 100px;
  transition: 0.3s;
}

.sub-list-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

.sub-list-icon {
  width: 10%;
  font-size: 20px;
  color: var(--main-color);
}

.sub-list-icon i {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 2;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 5px 10px 4px #8a8a8a !important;
}

.sub-list-icon i:hover {
  background-color: var(--main-color);
  color: white !important;
  box-shadow: 0px 5px 10px 4px var(--seconder-color) !important;
}

.sub-list-discreption {
  width: 80%;
  margin-inline-end: 40px;
}
/*end section subList*/

/*start section pricing*/
#pricing {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.pricing-content {
  text-align: center;
}

.pricing-content p {
  color: #8a8a8a;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 40px;
}

.card-one {
  width: 30%;
  box-shadow: 0px 10px 20px 8px #00000070 !important;
}

.card-one:hover {
  box-shadow: 0px 10px 20px 8px var(--main-color) !important;
}

.card-two {
  width: 30%;
  box-shadow: 0px 10px 20px 8px #00000070 !important;
}

.card-two:hover {
  box-shadow: 0px 10px 20px 8px var(--main-color) !important;
}

.card-three {
  width: 30%;
  box-shadow: 0px 10px 20px 8px #00000070 !important;
}

.card-three:hover {
  box-shadow: 0px 10px 20px 8px var(--main-color) !important;
}

.header-card:hover {
  background-color: #fff;
  color: #333333;
  ;
  border-bottom: 1px solid #333333;
  ;
}

.header-card {
  background-color: #333333;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.body-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #333333;
  color: #fff;
  position: relative;
}

.body-card:hover {
  background-color: #fff;
  color: #333333;
}

.body-card span {
  margin-bottom: 20px;
}

.price-unit {
  font-size: 40px;
  position: absolute;
  bottom: 20%;
  left: 35%;
}

.price-value {
  font-size: 80px;
}

.footer-card {
  background-color: var(--main-color);
  width: 100%;
  height: 5px;
}

.card-two .footer-card {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card-two .footer-card:hover {
  background-color: #fff;
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

.bottom-card {
  background-color: #fff;
}

.bottom-card li {
  border-bottom: 1px solid #8a8a8a;
  padding: 10px 0;
  color: #8a8a8a;
}

.bottom-card li:hover {
  background-color: #8a8a8a;
  border-bottom: 1px solid #fff;
  color: #fff;
}
/*end section pricing*/

/*start section customer*/
#customer {
  padding: 100px 0;
}

.customer-content {
  text-align: center;
}

.customer-content p {
  color: #8a8a8a;
}

.discreption-customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.customer-one {
  width: 30%;
  box-shadow: 0px 10px 20px 8px var(--seconder-color) !important;
}

.customer-one:hover {
  box-shadow: 0px 10px 20px 8px var(--main-color) !important;
}

.customer-two {
  width: 30%;
  box-shadow: 0px 10px 20px 8px var(--seconder-color) !important;
}

.customer-two:hover {
  box-shadow: 0px 10px 20px 8px var(--main-color) !important;
}

.customer-three {
  width: 30%;
  box-shadow: 0px 10px 20px 8px var(--seconder-color) !important;
}

.customer-three:hover {
  box-shadow: 0px 10px 20px 8px var(--main-color) !important;
}

.customer-header {
  background-color: #f5f5f5;
  color: #8a8a8a;
  padding: 20px 10px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
}

.customer-header::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 30px;
  border: 15px solid;
  border-color: #f5f5f5 transparent transparent transparent;
}

.customer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-inline-start: 10px;
}

.customer-footer span {
  color: #8a8a8a;
}

.customer-img {
  width: 20%;
}

.information-customer {
  width: 55%;
  margin-inline-end: 70px;
}

.customer-img img {
  width: 100%;
  margin: auto;
}

.information-customer h3 {
  margin-bottom: 10px;
}

.information-customer p {
  color: #8a8a8a;
}
/*end section customer*/

/*start footer*/
footer {
  background-color: var(--seconder-color);
  padding: 20px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer P {
  margin-top: 10px;
  width: 25%;
  color: #8a8a8a;
  text-align: center;
}

.footer-links {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  font-size: 20px;
  color: #8a8a8a;
}

nav {
  padding-inline: 50px;
  position: relative;
}
/*end footer*/

@media only screen and (max-width: 768px) {

  nav {
    position: relative;
  }

  .nav-menu-mobile-btn {
    display: block !important;
  }

  .nav-menu {
    flex-direction: column;
    position: absolute;
    right: 2px;
    top: 100px;
    background-color: #000;
    width: 200px;
    text-align: center;
    z-index: 4;
  }

  .nav-menu li {
    margin-bottom: 10PX;
  }
  
  .bars .nav-menu {  
    display: none;
    width: 50%;
  }

  .bars:hover .nav-menu {
    display: block !important;
  }
  
  header .header-content,
  .header-form {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  header .line {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline-end: 50px;
  }

  #socialMedia .section-content,
  .social-links-list {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #sectionTabs .tabs-btns,
  .tabs-content,
  .tabs-content-content,
  .tabs-content-meadia {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #sectionTabs .tabs-btns {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #sectionTabs .tabs-btns button {
    padding: 20px;
    margin-inline: 20px;
    border-radius: 50%;
  }

  #subList .sub-list-media,
  .sub-list-content {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #subList .section-title h2::after {
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
  }

  #subList .sub-list-list li {
    flex-direction: column;
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .sub-list-icon,
  .sub-list-discreption {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  #pricing .section-title,
  .section-descreption {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline-end: 50px;
  }

  #pricing .card-one,
  .card-two,
  .card-three {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #customer .section-title,
  .section-descreption {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  #customer .customer-one,
  .customer-two,
  .customer-three {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #customer .customer-header::after {
    left: 50%;
  }

  #customer .customer-footer {
    flex-direction: column;
    width: 100%;
    margin-inline: 5%;
  }

  #customer .information-customer {
    width: 100%;
    margin: 30px 0;
    text-align: center;
  }

  footer .footer-links {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  footer p {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }

}