/* start nav */
nav {
  background-color: var(--seconder-color);
  padding: 20px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0% 7%;
}

.logo img {
  width: 50%;
  margin: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-inline-start: 40px;
}

nav a {
  position: relative;

}

nav a::after {
  content: '';
  width: 0px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -7px;
}

.nav-menu li:hover a::after {
  width: 60px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition: 1s;
}

nav .nav-menu-mobile-btn {
  display: none;
}

nav {
  padding-inline: 50px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  nav {
    position: relative;
  }

  .nav-menu-mobile-btn {
    display: block !important;
  }

  .nav-menu {
    flex-direction: column;
    position: absolute;
    right: 2px;
    top: 73px;
    background-color: #000;
    width: 200px;
    text-align: center;
    z-index: 4;
  }

  .nav-menu li {
    margin-bottom: 10PX;
  }

  .bars .nav-menu {
    display: none;
    width: 50%;
  }

  .bars:hover .nav-menu {
    display: block !important;
  }
}

/* end nav  */

/* start header */
header {
  background-image: url(../imgs/imgheader.jpg);
  padding: 150px 0;
  position: relative;
  z-index: 2;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--seconder-color);
  opacity: 50%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3;
}

.header-content {
  z-index: 4;
  width: 50%;
  color: #fff;
}

.header-content h1 {
  font-weight: 100;
}

.header-content-header img {
  margin-bottom: 30px;
}

.line {
  background-color: #fff;
  width: 60px;
  height: 2px;
  margin: 20px 0;
}

.header-content-footer button {
  padding: 11px 35px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  margin-top: 30px;
}

.header-content-footer button:hover {
  background-image: url(../imgs/imgheader.jpg);
}

.header-form-container {
  padding: 0 5%;
}

.header-form {
  background-color: #fff;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.header-form-header {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 12px 0;
  background-color: #f5f5f5;
}

.header-form-header h2 {
  font-weight: bold;
}

.header-form-header h2 span {
  color: var(--main-color);
}

.header-form-body {
  width: 100%;
  margin: 20px 0;
}

.header-form button {
  padding: 15px 0;
  width: 100%;
  border-color: transparent;
  background-color: #ff9b51;
  color: #fff;
}

.header-form button:hover {
  background-color: #e8e8e8;
  color: var(--seconder-color);
}

@media only screen and (max-width: 768px) {
  header .header-content {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  header .header-form {
    width: 100%;
    text-align: center;
    margin-inline: 50px;
  }

  header .line {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline-end: 50px;
  }
}

/* end header */

/* start section socialMedia */
#socialMedia {
  border-bottom: 3px solid #d6d6d6;
  padding: 20px 0;
}

#socialMedia .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-content {
  width: 35%;
}

.section-content h2 {
  font-weight: bold;
}

.social-links-list {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#socialMedia .section-content h2 {
  margin-bottom: 10px;
}

.social-links-list a {
  font-size: 47px;
}

.social-links-list a:hover i {
  color: var(--main-color);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  #socialMedia .section-content {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #socialMedia .social-links-list {
    width: 100%;
    text-align: center;
    margin-inline: 50px;
  }
}

/* end section socialMedia */

/* start section sectionTabs */
#sectionTabs {
  background-color: #f5f5f5;
  padding: 100px 0;
}

#sectionTabs .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-btns {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-content-content {
  width: 55%;
}

.tabs-content-meadia {
  width: 35%;
}

.tabs-content-meadia img {
  width: 100%;
  margin: auto;
}

.tabs-content-content p {
  margin: 40px 0;
}

.tabs-content-content button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 13px 22px;
  font-size: 14px;
  font-weight: bold;
}

.tabs-content-content button:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 5px 10px 4px #ccc !important;
  transition: 1s;
}

.tabs-btns button {
  padding: 45px 30px;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: #333333;
}

.tabs-btns button:hover {
  background-color: var(--main-color);
  border-color: transparent transparent transparent transparent;
  transition: 1s;
}

.tabs-btns button:focus {
  border-color: transparent transparent transparent transparent;
  background-color: var(--main-color);
}

@media only screen and (max-width: 768px) {

  #sectionTabs .tabs-btns,
  .tabs-content-content {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 30px;
  }

  #sectionTabs .tabs-content,
  .tabs-content-meadia {
    width: 100%;
    text-align: center;
    margin-inline: 30px;
  }

  #sectionTabs .tabs-btns {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #sectionTabs .tabs-btns button {
    padding: 30px 45px;
    border-color: transparent;
    margin-inline: 1px;
  }
}

/* end section sectionTabs */

/* start section subList */
#subList {
  padding: 80px 0;
}

#subList .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sub-list-media img {
  width: 100%;
  margin: auto;
}

.sub-list-media {
  width: 45%;
}

.sub-list-content {
  width: 45%;
}

.sub-list-content p {
  margin: 30px 0;
  font-size: 14px;
}

#subList .section-title {
  position: relative;
  margin-bottom: 40px;
  font-size: 13px;
}

#subList .section-title h2 {
  font-weight: bold;
}

#subList .section-title h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -90%;
  transform: translateX(0);
}

#subList .section-title:hover h2::after {
  width: 100px;
  transition: 1s;
}

.sub-list-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 12px;
}

.sub-list-discreption h3 {
  font-weight: 100;
}

.sub-list-icon {
  width: 10%;
  font-size: 15px;
  color: var(--main-color);
}

.sub-list-icon i {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 2.3;
  text-align: center;
}

.sub-list-icon i:hover {
  background-color: var(--main-color);
  color: white !important;
  box-shadow: 0px 5px 10px 4px #ccc !important;
  transition: 1s;
}

.sub-list-discreption {
  width: 85%;
}

.sub-list-discreption p {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  #subList .sub-list-media {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #subList .sub-list-content {
    width: 100%;
    text-align: center;
    margin-inline: 50px;
  }

  #subList .section-title h2::after {
    left: 50%;
    bottom: -90%;
    transform: translateX(-50%);
  }

  #subList .sub-list-list li {
    flex-direction: column;
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .sub-list-icon,
  .sub-list-discreption {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .sub-list-discreption P {
    margin-bottom: 0;
  }
}

/*end section subList*/

/* start section standard */
#standard {
  background-color: #f5f5f5;
  padding: 80px 0;
}

#standard .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.standard-media img {
  width: 100%;
  margin: auto;
}

.standard-media {
  width: 45%;
}

.standard-content {
  width: 45%;
}

.standard-content p {
  margin: 20px 0;
  font-size: 14px;
}

#standard .section-title {
  position: relative;
  margin-bottom: 40px;
  font-size: 13px;
}

#standard .section-title h2 {
  font-weight: bold;
}

#standard .section-title h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -90%;
  transform: translateX(0);
}

#standard .section-title:hover h2::after {
  width: 100px;
  transition: 1s;
}

.standard-discreption {
  width: 85%;
}

.standard-discreption p {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  #standard .standard-media {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-inline: 50px;
  }

  #standard .standard-content {
    width: 100%;
    text-align: center;
    margin-inline: 50px;
  }

  #standard .section-title h2::after {
    left: 50%;
    bottom: -90%;
    transform: translateX(-50%);
  }

  .standard-discreption P {
    margin-bottom: 0;
  }
}

/*end section standard*/

/*start section awesome*/
#awesome {
  padding: 80px 0;
}

.awesome-content {
  text-align: center;
}

.awesome-content p {
  font-size: 13px;
  margin: 20px 0;
}

.cards-awesome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 70px;
}

.card-awesome {
  width: 30%;
  padding: 10px 5px;
}

.card-awesome:hover {
  box-shadow: 0px 10px 20px 8px #ccc !important;
  transition: 1s;
}

.card-awesome h3 {
  margin: 20px 0;
}

.card-awesome p {
  font-size: 13px;
}

.icon-card {
  font-size: 25px;
  color: var(--main-color);
}

.icon-card i {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 2;
  text-align: center;
}

.icon-card i:hover {
  background-color: var(--main-color);
  color: white !important;
  transition: 1s;
}

@media only screen and (max-width: 768px) {

  #awesome .awesome-content {
    width: 100%;
    text-align: center;
  }

  #awesome .card-awesome {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-inline: 50px;
  }
}

/*end section awesome*/

/*start section pricing*/
#pricing {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.pricing-content {
  text-align: center;
}

.pricing-content p {
  font-size: 13px;
  margin: 20px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 70px;
}

.card {
  width: 30%;
}

.card:hover {
  box-shadow: 0px 10px 20px 8px #ccc !important;
  transition: 1s;
}

.header-card:hover {
  background-color: #fff;
  color: #333333;
  border-bottom: 1px solid #333333;
  transition: 1s;
}

.header-card {
  background-color: #333333;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.body-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #333333;
  color: #fff;
  position: relative;
  padding-top: 10px;
}

.body-card:hover {
  background-color: #fff;
  color: #333333;
  transition: 1s;
}

.body-card span {
  margin-bottom: 20px;
}

.price-descreption {
  color: #95969a;
}

.price-unit {
  font-size: 40px;
  position: absolute;
  bottom: 20%;
  left: 32%;
}

.price-value {
  font-size: 80px;
}

.footer-card {
  background-color: var(--main-color);
  width: 100%;
  height: 5px;
  font-weight: bold;
}

.card .content {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card .content:hover {
  background-color: #fff;
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
  transition: 1s;
}

.bottom-card {
  background-color: #fff;
}

.bottom-card li {
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 5px;
  color: #95969a;
  font-size: 13px;
}

.bottom-card li:hover {
  background-color: #95969a;
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 1s;
}

@media only screen and (max-width: 768px) {

  #pricing .pricing-content {
    width: 100%;
    text-align: center;
  }

  #pricing .card {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-inline: 50px;
  }
}

/*end section pricing*/

/*start section customer*/
#customers {
  padding: 100px 0;
}

.customer-content {
  text-align: center;
}

.customer-content p {
  font-size: 13px;
  margin: 20px 0;
}

.discreption-customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.customer {
  width: 30%;
}

.customer-header {
  background-color: #f5f5f5;
  color: #95969a;
  padding: 20px 10px;
  position: relative;
  margin-bottom: 30px;
  font-size: 13px;
}

.customer-header::after {
  content: '';
  position: absolute;
  bottom: -29px;
  left: 20px;
  border: 15px solid;
  border-color: #f5f5f5 transparent transparent transparent;
}

.customer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: 10px;
}

.customer-footer span {
  color: #95969a;
  font-size: 13px;
}

.customer-img {
  width: 20%;
}

.information-customer {
  width: 50%;
  margin-inline-end: 70px;
}

.customer-img img {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  #customers .customer-content {
    width: 100%;
    text-align: center;
  }

  #customers .customer {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-inline: 50px;
  }

  #customers .customer-header::after {
    left: 50%;
  }

  #customers .customer-footer {
    flex-direction: column;
    width: 100%;
    margin-inline: 5%;
  }

  #customers .information-customer {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
}

/*end section customer*/

/* start section stylish */
#stylish {
  background-image: url(../imgs/imgfooter.jpg);
  padding: 70px 0;
  position: relative;
  z-index: 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#stylish::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--seconder-color);
  opacity: 50%;
  z-index: 1;
}

#stylish .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  z-index: 3
}

.stylish-content {
  z-index: 4;
  text-align: center;
}

#stylish .section-title {
  color: #fff;
}

#stylish .siction-descreption {
  font-size: 10px;
}

#stylish .section-title h1::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%);
}

#stylish .section-title:hover h1::after {
  width: 200px;
  transition: 1s;
}

.stylish-content button {
  padding: 11px 35px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #fff;
  background-color: transparent;
  margin-top: 10px;
  z-index: 4;
}

.stylish-content button:hover {
  background-image: url(../imgs/imgfooter.jpg);
}

@media only screen and (max-width: 768px) {
  #stylish {
    background-size: 300%;
    padding-inline: 10px;
  }

  #stylish .stylish-content {
    width: 100%;
    text-align: center;
  }
}

/* end section stylish */

/*start section contact*/
#contact {
  padding: 100px 0;
}

#contact .container {
  text-align: center;
}

.contact-content {
  text-align: center;
}

.contact-content p {
  font-size: 13px;
  margin: 20px 0;
}

.form-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.first-form {
  width: 49%;
}

.seconde-form {
  width: 49%;
}

.seconde-form textarea {
  width: 90%;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  padding: 10px;
}

#contact button {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 13px 26px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
}

#contact button:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 5px 10px 4px #ccc !important;
  transition: 1s;
}

@media only screen and (max-width: 768px) {

  #contact .contact-content,
  .first-form,
  .seconde-form {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  #contact button {
    margin: 0;
  }
}

/*end section contact*/

/*start footer*/
footer {
  background-color: var(--seconder-color);
  padding: 15px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer P {
  margin-top: 5px;
  width: 25%;
  text-align: center;
  font-size: 13px;
}

.footer-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  font-size: 20px;
  color: #cccccc;
}

footer .footer-links a:hover i {
  color: var(--main-color);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  footer .footer-links {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  footer p {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
}

/*end footer*/